<%include header%>
<form method="post">
    标题：<br>
    <input type="text" name="title"><br>
    内容：<br>
    <textarea name="content" id="" cols="50" rows="20"></textarea><br>
    <button type="submit">发表</button>
</form>
<%include footer%>